# Docker container configuration

# Set to your local user ID, if not 1000
HOSTUSERID="1000"
# Set to your local group ID, if not 1000
HOSTGROUPID="1000"

# Custom game and engine configs below
# Game.ini - [/Script/Engine.GameSession]
GAME_GAMESESSION_MaxPlayers=16

# Game.ini - [/Script/Vein.VeinGameSession]

GAME_VEIN_GAMESESSION_ServerName="Vein Docker Server"
GAME_VEIN_GAMESESSION_ServerDescription="My default server description"
GAME_VEIN_GAMESESSION_BindAddr="0.0.0.0"
GAME_VEIN_GAMESESSION_HeartbeatInterval=5.0

# Set bPublic to False if you do not want this server to be public
GAME_VEIN_GAMESESSION_bPublic="True"

# Set password to empty string for no password
GAME_VEIN_GAMESESSION_Password=""

# To set admins, uncomment the line(s) below and add the list of steam IDs separated by commas
#GAME_VEIN_GAMESESSION_SuperAdminSteamIDs=<list all steam IDs separated by commas>
#GAME_VEIN_GAMESESSION_AdminSteamIDs=<list all steam IDs separated by commas>

# Game.ini - [OnlineSubsystemSteam]

# UDP Query Port for Steam
GAME_ONLINE_SUBSYSTEM_STEAM_GameServerQueryPort=27015

# 0 for False, 1 for True
GAME_ONLINE_SUBSYSTEM_STEAM_bVACEnabled=0

# Game.ini - [URL] & Command Line

# UDP Game Port
GAME_URL_Port=7777

# Game.ini - [/Script/Vein.ServerSettings]

# 0 for False, 1 for True
#GAME_SERVERSETTINGS_GS_ShowScoreboardBadges=1
#GAME_SERVERSETTINGS_GS_GS_MaxThirdPersonDistance=500
#GAME_SERVERSETTINGS_GS_GS_ThirstMultiplier=1.0
#GAME_SERVERSETTINGS_GS_GS_HungerMultiplier=1.0

# Engine.ini - [ConsoleVariables]

# Full list of console variables can be found at https://ramjet.notion.site/Console-Variable-List-279f9ec29f178049a1c7dec3d070e5e9

# Autosave settings True (1) to enable autosaves, false (0) to disable
#ENGINE_CONSOLEVARIABLES_vein_DOT_Autosave_DOT_Enabled=1

# Seconds between autosaves
#ENGINE_CONSOLEVARIABLES_vein_DOT_Autosave_DOT_Interval=300

# Maximum autosaves to keep
#ENGINE_CONSOLEVARIABLES_vein_DOT_Autosave_DOT_MaxQuantity=10

#ENGINE_CONSOLEVARIABLES_vein_DOT_PvP=0
#ENGINE_CONSOLEVARIABLES_vein_DOT_Time_DOT_TimeMultiplier=16
#ENGINE_CONSOLEVARIABLES_vein_DOT_Time_DOT_NightTimeMultiplier=3
#ENGINE_CONSOLEVARIABLES_vein_DOT_Time_DOT_NightTimeMultiplierEnd=6
#ENGINE_CONSOLEVARIABLES_vein_DOT_Time_DOT_NightTimeMultiplierStart=20

# If this is on, time continues moving when no players are on the server.
# If this is off, UCs will not feed when no players are on the server.
#ENGINE_CONSOLEVARIABLES_vein_DOT_Time_DOT_ContinueWithNoPlayers=0.000000
#ENGINE_CONSOLEVARIABLES_vein_DOT_UtilityCabinet_DOT_ContinueWithNoPlayers=0.000000

# --- End Default Server Settings ---
